.shose-alert {
	background: #eeeeee;
	padding: 20px;
	border-radius: 5px;
	max-width: 500px;
	width: 100%;
	margin: auto;
	transition: none 0.3s ease-in-out;
}

.shose-alert p {
	margin-bottom: 0;
}
.hidden {
	display: none;
}
