.cart-display-item {
	font-size: 1.2rem;
	width: 65%;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}
.payment {
	margin-top: 3rem;
	background-color: #fafafa;
}
.payment span {
	font-size: 1.5rem;
}

@media screen and (max-width: 300px) {
	.cart-display-item {
		display: none;
	}
	.payment {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.cart-display-item {
		font-size: 1.2rem;
		width: 50%;
		margin: auto;
		text-align: center;
		vertical-align: middle;
	}
}
