.App {
	text-align: center;
}

/* 
@media (min-width: 400px) and (max-width: 1100px) {
	.welcomePage {
		background-image: url(./img/background.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		color: white;
	}
} */
