.App {
	text-align: center;
}

@media screen and (max-width: 300px) {
	.no-display {
		position: absolute;
		font-size: 20px;
		font-weight: 600;
		z-index: 99;
		height: 100%;
		width: 100%;
	}
	.welcomePage {
		display: none;
	}
	.container {
		display: none;
	}
}

@media screen and (min-width: 300px) {
	.welcomePage {
		display: block;
		height: 12rem;
		width: 100%;
		background-image: url(./img/background.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		color: white;
	}
	.no-display {
		display: none;
	}
}

@media screen and (min-width: 500px) {
	.welcomePage {
		display: block;
		height: 15rem;
		width: 100%;
		background-image: url(./img/background.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		color: white;
	}
}

@media screen and (min-width: 1000px) {
	.welcomePage {
		display: block;
		height: 17rem;
		width: 100%;
		background-image: url(./img/background.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		color: white;
	}
}

.welcomePage h1 {
	color: white;
}

/* 
@media (min-width: 400px) and (max-width: 1100px) {
	.welcomePage {
		background-image: url(./img/background.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		color: white;
	}
} */

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
